{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Page One<h2>
    <h3>Welcome to page one, mate<h3>
  </div>
  <body>
    <p>This is the body of the page. Im just padding this out for an example. Im just padding this out for an example. Im just padding this out for an example. Im just padding this out for an example. Im just padding this out for an example. Im just padding this out for an example.
    Im just padding this out for an example. Im just padding this out for an example. Im just padding this out for an example.</p>
  </body>
{% endblock %}